:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  flex-direction: column;  
  margin: 5vw; }

.banner .card {
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px #35eea4;
  display: flex;
  flex-direction: column;
  }
  .banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1vh;
    padding: 5vw; }
  .banner .card .sub-heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0 3vw 3vh; }
    .banner .card .sub-heading button {
      background: none;
      border: none;
      border-radius: 5px;
      color: #35eea4;
      font-family: "Istok Web", sans-serif;
      font-size: 1rem;
      letter-spacing: 1rem;
      margin-top: 2vh;
      padding: 1vw;
      text-transform: uppercase;
      transition: box-shadow 0.3s linear 0.1s; }
    .banner .card .sub-heading button:hover {
      cursor: pointer;
      box-shadow: 0 3px 20px 0 #35eea4; }

.row {
  display: flex;
  flex-direction: row;

  margin-top: 3vh; }

  .row .my-image {
    border: 1px solid #35eea4;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 25vw;
  }

.paragraph {
  color: #2c2c2c;
  font-family: "Istok Web", sans-serif;
  width: 60vw;
}

.icon-group {
  margin-top: 2vh; }
  .icon-group .icon {
    margin-right: 1vw;
    width: 2.5vw; }
@media only screen and (max-width: 725px)
{
  .row {
    flex-direction: column;
  }
  .row .image {
    order: -1;
  }
  .row .my-image{
    width: 60vw;
  }
}


